.slider-container {
    position: relative;
    height: 300px;
  }
  
  .slider-image-container {
    height: 100%;
    position: relative;
  }
  
  .slider-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .slider-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
  }
  
  .slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .slider-control-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .slider-control-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .slider-control-button.prev {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .slider-control-button.next {
    border-top-right-radius: 5px;
  }